<<<<<<< HEAD
/* 
$color-lightblue: #38c7ee; */
$color-lightblue: #E3F082;
=======

$color-lightblue: #B0D926;
>>>>>>> 1e13092be51b84046195061ec0f9eb763e1b04bd

$color-darkgrey: #2a3037;

@import "./default/fontawesome-all.min";
@import "./default/default";
@import "./default/noscript";
@import "../../node_modules/flag-icons/css/flag-icons.min.css";




